
@import "{}/node_modules/angular2-meteor-accounts-ui/build/login-buttons.scss";
//@import "{}/node_modules/ng2-material/all.scss";
//@import "{}/node_modules/ng2-material/font/font.scss";
$color1 : #2F2933;
$color2 : #01A2A6;
$color3 : #29D9C2;
$color4 : #BDF271;
$color5 : #FFFFA6;
$color6 : #2F2933;
$color7 : #FF6F69;

html, body {
  height: 100%;
}


body {
    margin: 0;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

.sebm-google-map-container {
  width: 450px;
  height: 450px;
}
.sebm-google-map-container {
  width: 400px;
  height: 400px;
}
@import "./imports/app/app.component";
@import "./imports/parties/parties-list.component";
@import "./imports/parties/party-details.component";

@import "./imports/alphaCards/board.component";
@import "./imports/alphaCards/card.component";

@import "./imports/common/form.component";
@import "./imports/homePage/header/header.component";
