<div *ngIf="alphaCard">
    <div class="alpha-card">
        <md-card [className]="alphaCard.area.type">
            <md-card-header>
                <md-card-title>{{alphaCard.name}}</md-card-title>
            </md-card-header>
            <md-card-content>
                <div class="alphas">
                    <md-list *ngFor="let alphaState of alphaCard.alphaStates ">
                        <md-list-item>
                            <p class="alpha-name">{{alphaState}}</p>
                        </md-list-item>
                    </md-list>
                </div>
                <div class="description">
                    <div class="abstract">
                        <p>abstract </p>
                    </div>
                    <div class="explained">
                        <ul>
                            <li>fff</li>
                            <li>ddd</li>
                        </ul>
                    </div>



                </div>
    </div>

    </md-card-content>
    </md-card>
</div>
<!--
<md-card>
    <md-card-title>Parent listen event child</md-card-title>
    <md-card-content>
        <h4>{{name}}</h4>
        <button (click)="vote(true)" [disabled]="voted">Agree</button>
        <button (click)="vote(false)" [disabled]="voted">Disagree</button>
    </md-card-content>
</md-card>
-->
</div>