/*colors */

$customer :  #ccffcc;
$border-customer : #8cae78;
$endeavor :  #ccecff;
$border-endeavor : #aac6ff;
$solution :  #ffff99;
$border-solution :#f6e27b;

/*cards of Essence */
.alpha-card {
    md-card {
      width: 350px;
      height: auto;
      border-style: groove;
      padding: 0;
    }
    md-card-content{
      background: white;  
      display: flex;  
      flex-flow : row wrap;
    }
    .alpha-name {
      border-style: groove;
      border-radius: 5px;
      text-align: center;
      margin: 5px 30px;
      padding: 7px;
    }
    .alphas{
      width: 60%;
    }
    .description{
      width: 40%;
      .abstract{
        padding:5px;
        margin:5px;
        border-bottom-style: solid;
      }
      .explained{
        padding: 5px;
      }
    }
}
.customer{
  md-card-header{
    background: $customer;
  }
  md-card {
    border-color: $border-customer;
  }
  .alpha-name{
    border-color: $border-customer;
  }
  .description{
    .abstract{
        border-bottom-color : $border-customer;
    }
  }
}
.endeavor{
  md-card-header{
    background: $endeavor;
  }
  md-card {
    border-color: $border-endeavor;
  }
  .alpha-name{
    border-color: $border-endeavor;
  }
   .description{
    .abstract{
        border-bottom-color : $border-endeavor;
    }
  }
}
.solution{
  md-card-header{
    background: $solution;
  }
  md-card {
    border-color: $border-solution;
  }
  .alpha-name{
    border-color: $border-solution;
  }
  .description{
    .abstract{
        border-bottom-color : $border-solution;
    }
  }
}
/* areas of Essence*/
.area {
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 5px;
    text-align: center;
    height:100px;
    width: 500px;
    cursor: pointer;
}
.color-solution {
  background: $solution;
  border-color: $border-solution;
}
.color-customer {
  background: $customer;
  border-color: $customer;
}
.color-endeavor {
  background: $endeavor;
  border-color: $endeavor;
}


    .selected {
      background-color: #CFD8DC !important;
      color: white;
    }
    .cards {
      margin: 0 0 2em 0;
      list-style-type: none;
      padding: 0;
      width: 15em;
    }
    .cards li {
      cursor: pointer;
      position: relative;
      left: 0;
      background-color: #EEE;
      margin: .5em;
      padding: .3em 0;
      height: 1.6em;
      border-radius: 4px;
    }
    .cards li.selected:hover {
      background-color: #BBD8DC !important;
      color: white;
    }
    .cards li:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em;
    }
    .cards .text {
      position: relative;
      top: -3px;
    }

    .cards .badge {
      display: inline-block;
      font-size: small;
      color: white;
      background-color: #584e4e;
      padding: 0.8em 0.7em 0 0.7em;
      line-height: 1em;
      position: relative;
      left: -1px;
      top: -4px;
      height: 1.8em;
      margin-right: .8em;
      border-radius: 4px 0 0 4px;
    }
