<md-sidenav-layout>
    <md-sidenav #sidenav mode="side" class="app-sidenav">
        <md-nav-list>
            <a *ngFor="let view of views" [routerLink]="[view.route]" md-list-item>
                <md-icon md-list-icon>{{view.icon}}</md-icon>
                <span md-line>{{view.name}}</span>
                <span md-line class="secondary">{{view.description}}</span>
            </a>
        </md-nav-list>
    </md-sidenav>
    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.toggle()">
            <md-icon>menu</md-icon>
        </button>
        <h2><a ui-sref="parties"><span class="md-title">Socially</span></a>
        </h2>
        <span class="app-toolbar-filler"></span>
        <login-buttons></login-buttons>
    </md-toolbar>
    <div class="app-content">
         <router-outlet name="main"></router-outlet>
    </div>
</md-sidenav-layout>
