   #header{ 
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    background-color: #fafafa;
    line-height: 100px;
    font-size: 15px;
    z-index: 1000;
   }
   .name {
    z-index: 88888;
    }
    .inner {
    max-width: 1024px;
    margin: 0 auto;
    }
    .toc-holder {
    position: fixed;
    right: 0;
    }
    .toc-holder {
    text-align: right;
    z-index: 30000;
    }
    #illustration {
    background-color: #4C5364;
    width: 100%;
    padding-bottom: 50px;
    text-align: right;
    }
    #illustration img {
    padding-top: 150px;
    width: 50%;
    min-width: 800px;
    }
    a {
    text-decoration: none;
    color: #333;
    }
    .btn{
    margin-top:20px;
    color: #FFFFFF;
    display: inline-block;
    padding: 0.5em 1.33em;
    font-weight: 700;
    border: 2px solid;
    border-radius: 40px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: border, color;
}
    