<div id="page-wrapper">
    <div id="header">
        <div class="inner name">
            <a href="#illustration">EssBoard</a></div>
    </div>
    <div id="illustration">
        <center>
            <img src="images/semat.png">
            <p></p>
            <a [routerLink]="['essboard/card']" class="btn" style="color: #FFFFFF">Empieza ahora</a>
        </center>
    </div>
    <div id="about">
        <div class="inner">
            <p>¿Cubres lo esencial en tu desarrollo de software?</p><br><br><br>
            <!-- Console -->
            <div id="code">
                <div id="console">
                    &gt; Desarrollo.dimensiones<br>
                    <span class="answer">&nbsp;&nbsp;=&gt; "Oportunidad"<br></span>
                    <span class="answer">&nbsp;&nbsp;=&gt; "Interesados"<br></span>
                    <span class="answer">&nbsp;&nbsp;=&gt; "Requerimientos"<br></span>
                    <span class="answer">&nbsp;&nbsp;=&gt; "Sistema de software"<br></span>
                    <span class="answer">&nbsp;&nbsp;=&gt; "Equipo"<br></span>
                    <span class="answer">&nbsp;&nbsp;=&gt; "Forma de trabajo"<br></span>
                    <span class="answer">&nbsp;&nbsp;=&gt; "Trabajo"<br></span> &gt; Desarrollo.areas<br>
                    <span class="answer">&nbsp;&nbsp;=&gt; "Cliente"<br></span>
                    <span class="answer">&nbsp;&nbsp;=&gt; "Solucion"<br></span>
                    <span class="answer">&nbsp;&nbsp;=&gt; "Esfuerzo"<br></span> &gt; Desarrollo.caracteristicas<br>
                    <span class="answer">&nbsp;&nbsp;=&gt; "Abarca la realizacion de las dimensiones"<br></span>
                    <span class="answer">&nbsp;&nbsp;=&gt; "Abarcar una dimension involucra realizar actividades"<br></span>
                    <span class="answer">&nbsp;&nbsp;=&gt; "Realizar actividades involucra que el equipo posea competencias"<br></span>                    &gt; Desarrollo.guia<br>
                    <span class="answer">&nbsp;&nbsp;=&gt; "Essence Framework"<br></span> &gt; Essence.definicion<br>
                    <span class="answer">&nbsp;&nbsp;=&gt; Te ayuda a formularte las correctas preguntas sobre tu desarrollo<br>
												 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Para : "Lograr mejores resultados"<br>
												 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Como: "Manteniendo un desarrollo saludable"<br>
							<br></span> &gt; Essence.informacion<br>
                    <span class="answer">&nbsp;&nbsp;=&gt; "Conoce mas sobre Essence : <a target="_blank" href="http://semat.org/introduction">http://semat.org/introduction</a>"<br></span>
                    <span class="answer">&nbsp;&nbsp;=&gt; "Aprende jugando : <a target="_blank" href="https://puzzler.sim4seed.org/">https://puzzler.sim4seed.org</a>"<br></span>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div id="footer">
        <div class="inner">
            © 2013 Ouracademy.
            <span class="right">
					<a target="_blank" href="mailto:qpdian@gmail.com">Email</a>&nbsp;//&nbsp;
					<a target="_blank" href="https://www.facebook.com/academyForUs">Facebook</a>&nbsp;//&nbsp;
					<a target="_blank" href="http://www.github.com/ouracademy">Github</a>
				</span>
        </div>
    </div>


</div>
