<div>
    <div class='wrapper'>

        <div class='container' [dragula]='"first-bag"'>

            <md-card>Move the HTML elements between the containers</md-card>
            <md-card>You cannot move them outside the draggable containers </md-card>
            <md-card>Change the position of your HTML elements inside the draggable is possible.</md-card>

        </div>
        <div class='container' [dragula]='"first-bag"'>

            <md-card>Move the HTML elements between the containers</md-card>
            <md-card>You cannot move them outside the draggable containers </md-card>
            <md-card>Change the position of your HTML elements inside the draggable is possible.</md-card>

        </div>

    </div>
</div>