.alpha-header {
    background: #d3ecc5;
}
.alpha-body {
    background: white;
}
.alpha-card {
    width: 420px;
    height: auto;
    border-color: #d3ecc5;
    border-style: groove;
    padding: 0;
}
.alpha-name {
    border-color: #d3ecc5;
    border-style: groove;
    border-radius: 5px;
    text-align: center;
    margin: 5px 30px;
    padding: 7px;
}
.area {
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 5px;
    text-align: center;
    height:100px;
    width: 500px;
    cursor: pointer;
}
.customer {
  background: #ccffcc;
    border-color: #bfeaa7;
}
.solution {
  background: #ffff99;
  border-color: #f6e27b;
}
.endeavor {
  background: #ccecff;
  border-color: #aac6ff;
}
