<div *ngIf="alphaCard">
    <md-card>
        <md-card-title>Registra estado</md-card-title>
        <md-card-content>
            <form [formGroup]="addAlphaState" (ngSubmit)="addAlphaStateCard()">
                <md-input formControlName="nameState" placeholder="Estado"></md-input>
                <div [hidden]="addAlphaState.controls['nameState'].valid || addAlphaState.controls['nameState'].pristine" class="error">
                    Nombre de estado requerido
                </div>
                <button md-raised-button type="submit" [disabled]="!addAlphaState.valid">Agregar</button>
            </form>
        </md-card-content>
    </md-card>
</div>